<%- include("../partials/headerindex") %>
	<div class="container">
		<header class="jumbotron">
			<div class="container">
  				<h1>Welcome to Campgrounds!</h1>
				<p>See our Camps!</p>
				<p><a class = "btn btn-primary btn-lg" href="/campgrounds/new">Create New!</a></p>
			</div>
		</header>


		<div class="row text-center">
			<% campgrounds.forEach(function(camp){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
  						<img class="card-img-top" src="<%= camp.image %>" alt="<%= camp.name %>">
  					<div class="card-body">
    					<h5 class="card-title"><%= camp.name %></h5>
    					<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
  					</div>
				</div>
		</div>	
<% }) %>
		</div>
	</div>

<%- include("../partials/footer") %>


